<h1>Here will be my catalog!</h1>


<ul class="items">
  <% @items.each do |item| %>
    <li>
      <%= item.name %>
      <%= item.avatar %>
      <%= item.description %>
      <%= debug item %>
      <% if item.categories.any? %>
        <p> Category: </p>
        <p>
          <% item.categories.each do |category| %>
            <%= link_to category.name, category_path(category) %>
          <% end %>
        </p>
        <% else %>
          <p> This item doesn't have category! </p>
        <% end %>
      </li>
  <% end %>
</ul>