<p>Item name:</p>
<%= @item.name %><br>
<%= image_tag(@item.item_image) if @item.item_image? %><br>
<p>Description:</p>
<%= @item.description %><br>

<% if @item.categories.any? %>
    <p> Category: </p>
    <p>
      <% @item.categories.each do |category| %>
          <%= link_to category.name, category_path(category) %>
      <% end %>
    </p>
<% else %>
    <p> This item doesn't have category! </p>
<% end %>

#show.html.erb
<%= ratings_for @item %>

#To display static stars:
<%= ratings_for @item, :static %>

#To display the ratings for a dimension:
<%= ratings_for @item, :dimension => :speed %>

<h3>Add your comment to item: </h3>
<%= render 'shared/comment_form' %>
<div class="span8">
  <% if @item.comments.any? %>
      <h3>Comments (<%= @item.comments.count %>)</h3>
      <ol class="comments">
        <%= render @comments %>
      </ol>
      <%= will_paginate @comments %>
  <% end %>
</div>